.footer{
  background-color: #0a2850;
  color: #ffffff;
  padding: 60px 0;
  position: relative;
  overflow: hidden;
  flex-direction: column;
  align-items: center;
}

.footer__content {
width: 100%;
max-width: 1400px;
display: flex;
justify-content: space-between;
position: relative;
z-index: 1;
margin-bottom: 60px;
}

.footer__logo {
margin-left: 80px;
 width: 134px;
 position: relative;
 z-index: 2;
}

.footer__circle {
position: absolute;
top: -150px;
left: -100px;
width: 340px;
height: 340px;
background-color: #2f80ed;
border-radius: 50%;
z-index: 0;
}

.footer__social {
text-align: left;
}

.footer__social-heading {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 16px;
  font-weight: bold;
  line-height: 20px;
  margin-top: 0px;
  margin-bottom: 20px;
}

.footer__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__list-item {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 16px;
}

.footer__social-link {
  color: #ffffff;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  transition: color 0.3s ease;
}

.footer__social-link:hover {
  color: #c1c1c1;
}

.footer__social-icon {
  width: 24px;
  height: 24px;
}

.footer__copyright {
  margin-left: 80px;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  z-index: 1;
}