.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.nav__logo {
  position: relative;
}

.nav__link {
  text-decoration: none;
  color: #000000;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__links {
 list-style: none;
 margin: 0;
 padding: 0;
 display: flex;
 gap: 20px;

}

.nav__link:hover {
  color: #2f80ed;
  transition: color 0.3s ease;
}