.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

.nav__logo {
  position: relative;
}

.nav__links {
  display: flex;
  gap: 20px;
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.nav__link {
  text-decoration: none;
  color: #000000;
  font-weight: 500;
}