.recipes {
background-color: #0a2750;
background-image: url(../images/background_recipes.svg);
background-repeat:no-repeat;
background-position: center;
background-size: cover;
padding-top: 100px;
padding-bottom: 80px;
color: #ffffff;
}

.recipes__title {
  font-family: "Inter", sans-serif;
  font-style: normal;
  max-width: 580px;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  margin: 0;
  margin-bottom: 24px;
  padding-left: 80px;
  text-align: left;
}

.recipes__subtitle {
  font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 430px;
  margin: 0;
  margin-bottom: 60px;
  text-align: left;
  padding-left: 80px;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.recipes__iframe {
  border: none;
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;

}

.recipes__iframe {
  border: none;
  width: 480px;
  height: 273px;
}
