.page {
  min-width: 1600px;
  max-width: 1100px;
  margin: auto;
  font-family: "Inter", Arial, sans-serif;
  font-family: "Noto Serif", "Times New Roman", serif;
  font-size: 16px;
  line-height: 20px;
}